{ 
  "extends": [
    "next",
    "eslint:recommended"
  ],
  "env": {
    "es6": true,
    "browser": true
  },
  "globals": {
    "process": true,
    "require": true
  },
  "rules": {
    "no-unused-vars": "warn",
    "no-irregular-whitespace": "off"
  }
}